.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.featureCol {
  margin-bottom: 2rem;
}

.featureCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureSvgContainer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureBody {
  padding: 2rem;
}

.featureTitle {
  margin-bottom: 1rem;
}